In [ ]:
load_ext run_and_test

# Exercise 1

## Templates

In [1]:
%pycat exercise_3_1_template.py

# Assume that the arguments m and n are integers at least equal to 0.

def f1(m, n):
     return ''
    # REPLACE THE RETURN STATEMENT ABOVE WITH YOUR CODE

In [ ]:
%%writefile exercise_3_1.py
# Assume that the arguments m and n are integers at least equal to 0.

def f1(m, n):
     return ''
    # REPLACE THE RETURN STATEMENT ABOVE WITH YOUR CODE

## Tests

In [ ]:
%%run_and_test python3 -c "from exercise_3_1 import f1; print(f1(0, 0))"

'\n'

In [ ]:
%%run_and_test python3 -c "from exercise_3_1 import f1; print(f1(0, 1))"

'\n'

In [ ]:
%%run_and_test python3 -c "from exercise_3_1 import f1; print(f1(1, 0))"

'\n'

In [ ]:
%%run_and_test python3 -c "from exercise_3_1 import f1; print(f1(1, 1))"

'_\n'

In [ ]:
%%run_and_test python3 -c "from exercise_3_1 import f1; print(f1(2, 2))"

'_|_ * _|_\n'

In [ ]:
%%run_and_test python3 -c "from exercise_3_1 import f1; print(f1(3, 2))"

'_|_ * _|_ * _|_\n'

In [ ]:
%%run_and_test python3 -c "from exercise_3_1 import f1; print(f1(2, 3))"

'_|_|_ * _|_|_\n'

In [ ]:
%%run_and_test python3 -c "from exercise_3_1 import f1; print(f1(7, 4))"

'_|_|_|_ * _|_|_|_ * _|_|_|_ * _|_|_|_ * _|_|_|_ * _|_|_|_ * _|_|_|_\n'

In [ ]:
%%run_and_test python3 -c "from exercise_3_1 import f1; print(f1(4, 7))"

'_|_|_|_|_|_|_ * _|_|_|_|_|_|_ * _|_|_|_|_|_|_ * _|_|_|_|_|_|_\n'

# Exercise 2

## Templates

In [2]:
%pycat exercise_3_2_template.py

# Assume that the argument n is an integer at least equal to 0.
#
# Even digits are white, odd digits are black.
#
# The output is printed out, not returned.

def f2(n):
    return ''
    # REPLACE THE RETURN STATEMENT ABOVE WITH YOUR CODE

In [ ]:
%%writefile exercise_3_2.py
# Assume that the argument n is an integer at least equal to 0.
#
# Even digits are white, odd digits are black.
#
# The output is printed out, not returned.

def f2(n):
    return ''
    # REPLACE THE RETURN STATEMENT ABOVE WITH YOUR CODE

## Tests

In [ ]:
%%run_and_test python3 -c "from exercise_3_2 import f2; f2(0)"

'⬜\n'

In [ ]:
%%run_and_test python3 -c "from exercise_3_2 import f2; f2(1)"

'⬛\n'

In [ ]:
%%run_and_test python3 -c "from exercise_3_2 import f2; f2(1234)"

'⬛⬜⬛⬜\n'

In [ ]:
%%run_and_test python3 -c "from exercise_3_2 import f2; f2(4321)"

'⬜⬛⬜⬛\n'

In [ ]:
%%run_and_test python3 -c "from exercise_3_2 import f2; f2(78859860)"

'⬛⬜⬜⬛⬛⬜⬜⬜\n'

In [ ]:
%%run_and_test python3 -c "from exercise_3_2 import f2; f2(60182278221381523805)"

'⬜⬜⬛⬜⬜⬜⬛⬜⬜⬜⬛⬛⬜⬛⬛⬜⬛⬜⬜⬛\n'

# Exercise 3

## Templates

In [3]:
%pycat exercise_3_3_template.py

# Assume that the argument n is an integer at least equal to 0.
#
# Bases range from the smallest possible, at least equal to 2, to 10.
#
# The output is printed out, not returned.

def f3(n):
    pass
    # REPLACE THE PASS STATEMENT ABOVE WITH YOUR CODE

In [ ]:
%%writefile exercise_3_3.py
# Assume that the argument n is an integer at least equal to 0.
#
# Bases range from the smallest possible, at least equal to 2, to 10.
#
# The output is printed out, not returned.

def f3(n):
    pass
    # REPLACE THE PASS STATEMENT ABOVE WITH YOUR CODE

## Tests

In [ ]:
%%run_and_test python3 -c "from exercise_3_3 import f3; f3(0)"

'''
0 is 0 in base 2\n
0 is 0 in base 3\n
0 is 0 in base 4\n
0 is 0 in base 5\n
0 is 0 in base 6\n
0 is 0 in base 7\n
0 is 0 in base 8\n
0 is 0 in base 9\n
0 is 0 in base 10\n
'''

In [ ]:
%%run_and_test python3 -c "from exercise_3_3 import f3; f3(7)"

'''
7 is 7 in base 8\n
7 is 7 in base 9\n
7 is 7 in base 10\n
'''

In [ ]:
%%run_and_test python3 -c "from exercise_3_3 import f3; f3(1298)"

'1298 is 1298 in base 10\n'

In [ ]:
%%run_and_test python3 -c "from exercise_3_3 import f3; f3(2143)"

'''
2143 is 298 in base 5\n
2143 is 495 in base 6\n
2143 is 766 in base 7\n
2143 is 1123 in base 8\n
2143 is 1578 in base 9\n
2143 is 2143 in base 10\n
'''

In [ ]:
%%run_and_test python3 -c "from exercise_3_3 import f3; f3(37520763776565530)"

'''
37520763776565530 is 1113872387468120 in base 8\n
37520763776565530 is 7120008273869829 in base 9\n
37520763776565530 is 37520763776565530 in base 10\n
'''

# Exercise 4

## Templates

In [4]:
%pycat exercise_3_4_template.py

# Assume that the argument n is an integer at least equal to 0
# and the argument base is an integer between 2 and 9 included.

def f4(n, base):
    return {}
    # REPLACE THE RETURN STATEMENT ABOVE WITH YOUR CODE

In [ ]:
%%writefile exercise_3_4.py
# Assume that the argument n is an integer at least equal to 0
# and the argument base is an integer between 2 and 9 included.

def f4(n, base):
    return {}
    # REPLACE THE RETURN STATEMENT ABOVE WITH YOUR CODE

## Tests

In [ ]:
%%run_and_test python3 -c "from exercise_3_4 import f4; print(f4(0, 3))"

'{0: (0,)}\n'

In [ ]:
statements = 'from exercise_3_4 import f4; '\
             'D = f4(5, 2); '\
             'print({e: D[e] for e in sorted(D)})'

In [ ]:
%%run_and_test python3 -c "$statements"

'{0: (0,), 1: (1,), 2: (1, 0), 3: (1, 1), 4: (1, 0, 0), 5: (1, 0, 1)}\n'

In [ ]:
statements = 'from exercise_3_4 import f4; '\
             'D = f4(7, 3); '\
             'print({e: D[e] for e in sorted(D)})'

In [ ]:
%%run_and_test python3 -c "$statements"

'{0: (0,), 1: (1,), 2: (2,), 3: (1, 0), 4: (1, 1), 5: (1, 2), 6: (2, 0), 7: (2, 1)}\n'

In [ ]:
statements = 'from exercise_3_4 import f4; '\
             'D = f4(11, 5); '\
             'print({e: D[e] for e in sorted(D)})'

In [ ]:
%%run_and_test python3 -c "$statements"

'{0: (0,), 1: (1,), 2: (2,), 3: (3,), 4: (4,), 5: (1, 0), '
'6: (1, 1), 7: (1, 2), 8: (1, 3), 9: (1, 4), 10: (2, 0), 11: (2, 1)}\n'

In [ ]:
statements = 'from exercise_3_4 import f4; '\
             'D = f4(22, 8); '\
             'print({e: D[e] for e in sorted(D)})'

In [ ]:
%%run_and_test python3 -c "$statements"

'{0: (0,), 1: (1,), 2: (2,), 3: (3,), 4: (4,), 5: (5,), 6: (6,), 7: (7,), 8: (1, 0), '
'9: (1, 1), 10: (1, 2), 11: (1, 3), 12: (1, 4), 13: (1, 5), 14: (1, 6), 15: (1, 7), '
'16: (2, 0), 17: (2, 1), 18: (2, 2), 19: (2, 3), 20: (2, 4), 21: (2, 5), 22: (2, 6)}\n'

# Exercise 5

## Templates

In [5]:
%pycat exercise_3_5_template.py

# Assume that the argument integral_part is an integer at least equal to 0
# and the argument fractional_part is an integer strictly greater than 0.
#
# The output is printed out, not returned.

def f5(integral_part, fractional_part):
    pass
    # REPLACE THE PASS STATEMENT ABOVE WITH YOUR CODE

In [ ]:
%%writefile exercise_3_5.py
# Assume that the argument integral_part is an integer at least equal to 0
# and the argument fractional_part is an integer strictly greater than 0.
#
# The output is printed out, not returned.

def f5(integral_part, fractional_part):
    pass
    # REPLACE THE PASS STATEMENT ABOVE WITH YOUR CODE

## Tests

In [ ]:
%%run_and_test python3 -c "from exercise_3_5 import f5; f5(0, 1)"

'With 2 digits after the decimal point, '
'0.1 prints out with 1 trailing zero, '
'namely, as 0.10\n'

In [ ]:
%%run_and_test python3 -c "from exercise_3_5 import f5; f5(0, 11)"

'With 4 digits after the decimal point, '
'0.11 prints out with 2 trailing zeroes, '
'namely, as 0.1100\n'

In [ ]:
%%run_and_test python3 -c "from exercise_3_5 import f5; f5(0, 11111111)"

'With 16 digits after the decimal point, '
'0.11111111 prints out with 8 trailing zeroes, '
'namely, as 0.1111111100000000\n'

In [ ]:
%%run_and_test python3 -c "from exercise_3_5 import f5; f5(0, 111111111)"

'With 18 digits after the decimal point, '
'0.111111111 prints out as 0.111111110999999999\n'

In [ ]:
%%run_and_test python3 -c "from exercise_3_5 import f5; f5(378, 212408)"

'With 12 digits after the decimal point, '
'378.212408 prints out with 6 trailing zeroes, '
'namely, as 378.212408000000\n'

In [ ]:
%%run_and_test python3 -c "from exercise_3_5 import f5; f5(378, 2124089)"

'With 14 digits after the decimal point, '
'378.2124089 prints out as 378.21240890000001\n'

In [ ]:
%%run_and_test python3 -c "from exercise_3_5 import f5; f5(123456789, 4320)"

'With 8 digits after the decimal point, '
'123456789.4320 prints out with 4 trailing zeroes, '
'namely, as 123456789.43200000\n'

In [ ]:
%%run_and_test python3 -c "from exercise_3_5 import f5; f5(123456789, 43201)"

'With 10 digits after the decimal point, '
'123456789.43201 prints out as 123456789.4320099950\n'

# Exercise 6

## Templates

In [6]:
%pycat exercise_3_6_template.py

# Assume that the argument L is a list of lists of integers
# that are all of the same length, say a strictly positive
# integer n, and that fields is a list that represents a
# permutation of {1, ..., n}.
#
# L has to be sorted considering in a list L' of length n
# - first the element of L' whose position is given by the
#   first member of fields,
# - if n >= 2, then the element of L' whose position is given by the
#   second member of fields,
# - ...
# - finally, the element of L' whose position is given by the
#   last member of fields.

def f6(L, fields):
    return []
    # REPLACE THE RETURN STATEMENT ABOVE WITH YOUR CODE

In [ ]:
%%writefile exercise_3_6.py
# Assume that the argument L is a list of lists of integers
# that are all of the same length, say a strictly positive
# integer n, and that fields is a list that represents a
# permutation of {1, ..., n}.
#
# L has to be sorted considering in a list L' of length n
# - first the element of L' whose position is given by the
#   first member of fields,
# - if n >= 2, then the element of L' whose position is given by the
#   second member of fields,
# - ...
# - finally, the element of L' whose position is given by the
#   last member of fields.

def f6(L, fields):
    return []
    # REPLACE THE RETURN STATEMENT ABOVE WITH YOUR CODE

## Tests

In [ ]:
statements = 'from exercise_3_6 import f6; '\
             'L = [[3], [0], [1], [0], [8], [4], [0], [4], [7]]; '\
             'print(f6(L, [1]))'

In [ ]:
%%run_and_test python3 -c "$statements"

'[[0], [0], [0], [1], [3], [4], [4], [7], [8]]\n'

In [ ]:
statements = 'from exercise_3_6 import f6; '\
             'L = [[3, 3], [0, 0], [0, 2], [0, 1], [1, 1], [3, 2]]; '\
             'print(f6(L, [1, 2]))'

In [ ]:
%%run_and_test python3 -c "$statements"

'[[0, 0], [0, 1], [0, 2], [1, 1], [3, 2], [3, 3]]\n'

In [ ]:
statements = 'from exercise_3_6 import f6; '\
             'L = [[3, 3], [0, 0], [0, 2], [0, 1], [1, 1], [3, 2]]; '\
             'print(f6(L, [2, 1]))'

In [ ]:
%%run_and_test python3 -c "$statements"

'[[0, 0], [0, 1], [1, 1], [0, 2], [3, 2], [3, 3]]\n'

In [ ]:
statements = 'from exercise_3_6 import f6; '\
             'L = [[2, 3, 2], [2, 4, 3], [2, 2, 4], [3, 3, 4], '\
                  '[1, 3, 4], [1, 3, 2], [4, 1, 3], [3, 2, 2]]; '\
             'print(f6(L, [2, 3, 1]))'

In [ ]:
%%run_and_test python3 -c "$statements"

'[[4, 1, 3], [3, 2, 2], [2, 2, 4], [1, 3, 2], '
 '[2, 3, 2], [1, 3, 4], [3, 3, 4], [2, 4, 3]]\n'

In [ ]:
statements = 'from exercise_3_6 import f6; '\
             'L = [[1, 2, 2, 3, 1], [3, 0, 3, 2, 3], [3, 2, 1, 0, 3], '\
                  '[2, 3, 0, 2, 2], [1, 2, 0, 1, 3], [0, 0, 1, 3, 1], '\
                  '[1, 1, 0, 0, 1], [0, 2, 0, 3, 3], [2, 2, 1, 2, 2], '\
                  '[2, 3, 3, 0, 1], [1, 3, 0, 0, 0], [2, 1, 2, 3, 3]]; '\
             'print(f6(L, [3, 2, 4, 5, 1]))'

In [ ]:
%%run_and_test python3 -c "$statements"

'[[1, 1, 0, 0, 1], [1, 2, 0, 1, 3], [0, 2, 0, 3, 3], '
 '[1, 3, 0, 0, 0], [2, 3, 0, 2, 2], [0, 0, 1, 3, 1], '
 '[3, 2, 1, 0, 3], [2, 2, 1, 2, 2], [2, 1, 2, 3, 3], '
 '[1, 2, 2, 3, 1], [3, 0, 3, 2, 3], [2, 3, 3, 0, 1]]\n'

In [ ]:
statements = 'from exercise_3_6 import f6; '\
             'L = [[1, 0, 1, 0, 0, 0], [0, 1, 0, 1, 0, 0], [1, 0, 0, 1, 0, 1], '\
                  '[1, 1, 0, 0, 1, 0], [0, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], '\
                  '[0, 1, 0, 0, 1, 0], [1, 1, 1, 1, 0, 0], [0, 0, 1, 0, 1, 0], '\
                  '[0, 0, 0, 1, 1, 1], [0, 0, 1, 1, 0, 0], [1, 1, 1, 0, 1, 1], '\
                  '[1, 1, 0, 0, 0, 1], [0, 1, 0, 0, 0, 1], [0, 0, 1, 1, 0, 1], '\
                  '[0, 0, 1, 0, 1, 1], [1, 1, 0, 1, 1, 0], [1, 0, 0, 1, 1, 1], '\
                  '[1, 0, 0, 0, 1, 1], [0, 1, 1, 0, 1, 1]]; '\
             'print(f6(L, [4, 3, 6, 2, 5, 1]))'

In [ ]:
%%run_and_test python3 -c "$statements"

'[[0, 1, 0, 0, 1, 0], [1, 1, 0, 0, 1, 0], [1, 0, 0, 0, 1, 1], '
 '[0, 1, 0, 0, 0, 1], [1, 1, 0, 0, 0, 1], [1, 0, 1, 0, 0, 0], '
 '[0, 0, 1, 0, 1, 0], [0, 0, 1, 0, 1, 1], [0, 1, 1, 0, 1, 1], '
 '[1, 1, 1, 0, 1, 1], [0, 1, 0, 1, 0, 0], [1, 1, 0, 1, 1, 0], '
 '[1, 0, 0, 1, 0, 1], [0, 0, 0, 1, 1, 1], [1, 0, 0, 1, 1, 1], '
 '[0, 0, 1, 1, 0, 0], [1, 1, 1, 1, 0, 0], [0, 0, 1, 1, 0, 1], '
 '[0, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1]]\n'